.card {
  --bg: var(--clr-grey);
  --px: var(--size-5);
  --py: var(--size-7);
  display: grid;
  gap: var(--py);
  justify-content: space-between;
  padding: var(--py) var(--px);
  background-color: var(--bg);
  border-radius: var(--radius-md);
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;
  @media (--md-n-above) {
    --px: var(--size-6);
    --py: var(--size-8);
  }
  @media (--lg-n-above) {
    --px: var(--size-8);
    --py: var(--px);
  }
  @media (--xl-n-above) {
    --px: var(--size-9);
  }

  &:hover {
    --bg: var(--bg-hover, var(--clr-grey));
  }

  &--wide {
    padding: 0;
    grid-column: 1 / -1;
    @media (min-width: 62em) {
      grid-template-columns: 1fr 1.5fr;
    }
    @media (--lg-n-above) {
      grid-template-columns: 1fr 1.5fr;
    }

    .card__img {
      object-fit: cover;
      object-position: left;
    }

    .card__content {
      padding: var(--py) var(--px) 0;
      justify-self: center;
      @media (min-width: 62em) {
        justify-self: start;
        align-self: center;
        padding-inline-end: 0;
        padding-block-end: var(--py);
      }
    }
  }

  &__img,
  &__content {
    order: 1;
  }

  &__img {
    width: 100%;
  }

  &__content {
    max-width: 45ch;

    h3 {
      font-size: var(--fz-5);
      font-family: var(--ff-body);

      @media (--lg-n-above) {
        font-size: var(--fz-6);
      }
    }

    p {
      margin-block: var(--size-4) var(--size-5);
      @media (--lg-n-above) {
        font-size: var(--fz-3);
      }
    }
  }
}
